{%extends 'base.html.twig'%}

{%block title%}Questionnaire{%endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/questionnaire.css') }}">
{% endblock %}


{%block body%}
    <main>
        <div id="tot">
            <div id="left">
                <p id="introduction">Au sein de ce questionnaire de cinq minutes vous allez répondre à une série de questions abordant l'injonction "Les hommes doivent cacher leurs émotions". En y répondant, vous acceptez que des données d'avancement soit récoltées afin d'avoir une sauvegarde de votre avancement en cas d'arrêt en cours.</p>
                <a href="questions" id="tucliques" class="btn-primary">Commencer l'enquête</a>
            </div>
            <img src="{{asset('pictures/Question.svg')}}" alt="homme qui se questionne">
        </div>

    </main>
{%endblock%}


